
.project

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.core.runtime.prefs

.texlipse

tmp/*

.settings/*

/tmp
/document.pdf
/document.synctex.gz
fuh_1914_th10.pdf
fuh_1914_th10.synctex.gz
